
.display-4 {
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
  padding-top: 75px;
}

.display-2 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
}

.jumbotron {
  background-image: url("src/assets/boats/image_boats_3.jpg");
  background-size: cover;
  padding: 1em 4em 9em 4em;
  animation: apparition 1.6s;
  height: 270px;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


