<br/>
<br/>
<br/>
<div class="row mt-3">
    <div class="col-4">
        <app-menu-dashboard></app-menu-dashboard>
    </div>
    <div class="col-8">
        <h1>Bienvenu dans le back office !</h1>
        <h2>Statistiques</h2>

    <div class="table-responsive">
      <table class="table table-info table-striped table-bordered table-hover">
        <thead class="thead-primary">
          <tr>
            <th class="text-center">Nombre d'articles</th>
            <th class="text-center">Nombre d'utilisateurs</th>
            <th class="text-center">Nombre de commentaires</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: white;">
            <td>{{ articles.length }}</td>
            <td>{{ utilisateurs.length }}</td>
            <td>{{ comment.length }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>






</div>
