@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


h2 {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
  font-family: 'Raleway', sans-serif;
}


.info {
  border-top: 1px solid rgba(213, 212, 212, 0.25);
  border-bottom: 1px solid rgba(213, 212, 212, 0.25);
  padding: 0.5em 0;
  margin: 0 0 1.5em 0;
  line-height: 2.4em;
  font-size: 23px;
}
