<app-menu></app-menu>
<br/>
<br/>
<div class="container">
<div class="row mt-3">
  <div class="col-4">
      <app-menu-dashboard></app-menu-dashboard>
  </div>

  <div class="col-8">
      <h1>Gestion des parametres</h1>


      <section id="main">
        <br>
          <header>
            <img src="./assets/logo_guestonboat.png" style="width: 200px;">
          </header>
          <div class="info">
            Balise seo title : &nbsp;<strong>{{ parametres[0].balise_seo_title }}</strong>
            <br/>
            Article max : &nbsp;<strong>{{ parametres[0].article_max }}</strong>
            <br/>
            Texte d'introduction : &nbsp;<strong>{{ parametres[0].texte_introduction }}</strong>
            <br/>
            Titre page d'accueil : &nbsp;<strong>{{ parametres[0].titre_page_accueil }}</strong>
          </div>
          </section>


<div></div>



